*,
*::after,
*::before{
    box-sizing: border-box;
}


body{
     margin: 0;
    /* background-color: rgb(22,22,22); */
    background-image: url(bgimg.jpg);
    background-size: cover;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(10px);
    
}


.container{
    background-color: rgb(33,33,33);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 1.1rem;
    padding: 1rem;
    border-radius: 10px;
    width: 50rem;
    height: 40rem;
    grid-auto-rows: 190px;
    box-shadow: 0 0 1rem rgb(0 0 0 / 1);
    
    animation: container-animation 3s infinite alternate ease-in-out;
    position: relative;
}


.item{
    background-color: rgb(44,44,44);
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 1px 1px black;
    border: 1px solid rgba(55, 55, 55, 1);
    border-radius: 10px;
    z-index: -1;
}   


.item-1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}


.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;

  }


  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  
  }

  .flip-card:hover .flip-card-inner,
  .flip-card:focus .flip-card-inner{
    
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: rgb(44,44,44) ;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 1);
    border: 1px solid rgb(55, 55, 55, 1);
    border-radius: 10px;
    transform-style: preserve-3d;
    
  }
  
  .flip-card-back {
    background-color: rgb(44,44,44);
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem;
    gap: 10px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 1);
    border: 1px solid rgb(55, 55, 55, 1);
    border-radius: 10px;
    transform-style: preserve-3d;

  }

  .flip-card-back > *{
    filter: saturate(3);
  }

  #fcard-title{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    color: #fff;
    letter-spacing: 4px;
    font-size: 35px;
    text-shadow: 3px 3px 3px black;
    transform: translateZ(50px);
  }

  .bcard-content{
    transform: translateZ(50px);
   }


.featured{
    width: 100%;
    height: 100%;
    border-radius: 10px;    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    gap: 1rem;
    padding: 1rem;
   
}

.fitems{
    background-color: rgb(44,44,44);
    border-radius: 10px;

}

.fitem-1
{   
    grid-column: 1 / 2;
}


.fitem-2{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
}

.fitem-3{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.fitem-4{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    border-radius: 2rem 2rem;
    background-image: url(1.png);
    background-position: center;
    background-size: cover;
}


.item:hover{
    transform: translateY(-5px);
    transition: all 0.3s ease 0.1s;
    box-shadow: 3px 4px 1px 1px black;
   
}

.item:not(hover){
    transform: translateY(0px);
    transition: all 0.3s ease 0.1s;
}


.fitems  h2{
    text-align: center;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 2px black;
    font-weight: 900;
    margin: 0;
    padding-top: 1rem;
}

p{
    color: #C0c0c0;
    margin: 0;
    padding: .5rem;
    text-align: center;
    line-height: 1.5rem;
    padding-inline: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fitem-1 > ul >li{
    color: white;
    font-size: larger;
    font-weight: 500;
    padding-top: 6px;
    padding-right: 10px;
    position: relative;
    list-style-type: square;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.fitem-1 img{
    position: absolute;
    left: 133px;
    bottom: -3px;
    filter: saturate(5) invert();
    box-shadow: 1px 1px 1px white;
}


:root {
    --button-clr: rgb(157, 215, 241);
}


.fitem-2 > button {  
    color: var(--button-clr);
    display: flex;
    justify-self: center;
    font-size: large;
    font-weight: 500;
    text-shadow: 0 0 0.125em var(--button-clr), 0 0 0.35em var(--button-clr) ;;
    border-radius: 0.4rem;
    padding: 0.4rem 1rem;
    border: 0.125em solid var(--button-clr);
    background-color: transparent;
    box-shadow: inset 0 0 0.45em 0 var(--button-clr), 0 0 0.45em 0 var(--button-clr);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



/* Hobbies Section */

 .card-4{
    width: 100%;
    height: 100%;
    background-color: transparent;
    order: 5;
 }


  .front-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44,44,44) ;
    border-radius: 10px;
    width: inherit;
    height: inherit;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    color: #fff;
    letter-spacing: 4px;
    font-size: 35px;
    text-shadow: 3px 3px 3px black;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 1);
    border: 1px solid rgb(55, 55, 55, 1);
    user-select: none;
    cursor: pointer;
    
  }
  
  .back-card{
    position: absolute;
    transform:  translateY(-1500px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
    opacity: 0;

 
  }

  .back-card h3{
    grid-column: span 2;
    text-align: center;
    background-color: rgb(22,22,22);
    border-radius: 10px;
    padding-inline: 2rem;
    justify-self: center;
    width: 90%;
    font-family: 'Courier New', Courier, monospace;
    padding-block: 0.2rem;
    margin: 10px;
    color: white;
    letter-spacing: 1px;
    padding-bottom: 5px;
    font-size: 19px;
    user-select: none;

  }


  .imgdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11,11,11);
    border-radius: 25px;
    margin-inline: 10px;
    margin-top: 0px;
    width: 170px;
    height: 235px;
    box-shadow: 0 0 1rem rgb(11 11 11 / 1);
    
  }

  .back-card img{
    width: 145px;
    height: 210px;
    margin: 0;
    border-radius: 20px;
  
  }

  .bimg:hover{
    transform: scale(1.7);
    border: none;
    z-index: 20;
    transition: all 0.5s ease-in-out ;
  }

  .p7:hover + .p8{
    z-index: -1;

  }
  .p7 {
    filter: brightness(1.5);
  }

  .p8 {
    filter: contrast(2);
  }

 

.front-card:focus +
  .back-card{
    top: 15px;
    left: 15px;
    width: 96.3%;
    height: 95.7%;
    box-shadow: 0 0 0 black;
    background-color: rgb(44,44,44) ;
    z-index: 1;
    border-radius: 10px;
    transform: translateY(0px);
    transition: all 1s ease 5ms ;
    box-shadow: 0 0 0.45rem rgb(0 0 0 / 1);
    opacity: 1;
  }

.front-card:hover{
  transform: translateY(-4px);
  box-shadow: 3px 4px 1px 1px rgb(0 0 0 / 1);
  transition: all 0.3s ease;
}
.front-card:not(hover){
  transform: translateY(0);
  transition: all 0.3s ease;
}


/* Education Section */

.item-2 .efront{
   display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44,44,44) ; 
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    color: #fff;
    letter-spacing: 4px;
    font-size: 35px;
    text-shadow: 3px 3px 3px black;
    border: 2px outset;
    width: 100%;
    height: 100%;
    user-select: none;
    cursor: pointer; 
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 1);
    border: 1px solid rgb(55, 55, 55, 1);
}


.eback{
  position: absolute;
  top: 0px;
  left: 810px;
  border-radius: 10px;
  /* background-color: rgb(33,33,33); */
  backdrop-filter: blur(50px);
  background-color: rgba(33 33 33 / 0.8);
  width: 300px;
  height: 0;
  overflow: hidden;
}

.efront:hover{
  transform: translateY(-5px);
  box-shadow: 3px 4px 1px 1px black;
  transition: all 0.3s ease;
}
.efront:not(hover){
  transform: translateY(0);
  transition: all 0.3s ease;
}



.efront:hover + .eback,
.efront:focus + .eback{
  display: flex;
  justify-content: center;
  align-items: center;
  left: 810px;
  width: 300px;
  height: 640px;
  transition: all 0.5s ease-in-out 0.3s;
  opacity: 1;
  cursor: pointer;
  
}


.eout{
  display: grid;
  grid-template-columns: 10px 1fr;
  grid-template-rows: repeat(3, 1fr);
  width: 260px;
  height: 610px;
  border-left: 2px solid black;
  gap: 10px;
  perspective: 1000px;
 
}


.einner{
  padding-inline: 1rem;
  background-color: rgb(44,44,44);
  grid-column: 2 / 3;
  text-align: left;
  border-radius: 10px;
  height: 100%;
  color: white;
  position: relative;
  border: 1px solid white;
}

.item-2 .eback .eout .einner::before{
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: -29px;
  top: 28px;
  background-color: black ;
  border: 3px solid orangered;
}

.einner h3{
  margin: 0;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: orangered;
  font-family: 'Courier New', Courier, monospace;
}


.einner-icon{
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 40px;
}


.einner h2{
  margin-top: 15px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px black;
}

.einner .uni{
  margin-top: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 0px;
  padding: 0;
  font-size: 18px;
  color: orangered;
}

.einner .marks{
  padding: 0;
  font-weight: 400;
  margin-top: 5px;
  font-size: smaller;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
}



/* Contact Me Section */


.item-5{
    background-color: rgb(44,44,44);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
    position: relative;
    order: 6;
    
}

.front-c{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(44,44,44) ;
  width: 99%;
  height: 99%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 800;
  color: #fff;
  letter-spacing: 4px;
  font-size: 35px;
  text-shadow: 3px 3px 3px black;
  position: absolute;
  inset: 0;
  left: 2px;
  top: 2px;
  border-radius: 10px;
  z-index: 100;
  text-align: center;


}

.back-c{
  position: relative;
  background-color: rgb(44,44,44);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 1);
  border: 1px solid rgb(55, 55, 55, 1);

}


.back-c-in{
  position: relative;
  left: -20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
 
  
}

.back-c-in li{
  position: relative;
  list-style: none;
  cursor: pointer;
  margin: 10px;

}

.back-c-in li a {
  text-decoration: none;
  z-index: 1111;
  
}

.back-c-in li .fa{
  font-size: 3rem;
  color: #111;
 
}


.back-c-in li a::before{
  font-family: fontAwesome;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;

 
}


.back-c-in li:nth-child(1) a::before{
  content: '\f16d';
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  font-size: 3.02rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.back-c-in li:nth-child(2) > a::before{
  content: '\f0e0';
  color: #C71610;
  
}

.back-c-in li:nth-child(3) a::before{ 
  content: '\f08c';
  color: #0072b1;
}

.back-c-in li:nth-child(4) a::before{
  content: '\f099';
  color: #00acee ;
}

.back-c-in li a:hover::before{
  height: 100%;
}


.item-5:hover .front-c{
  cursor: pointer;
  height: 0;
  transition: all 0.3s ease;
}

.item-5:hover .back-c{
  transform: translateY(-5px);
  box-shadow: 3px 4px 1px 1px rgb(0 0 0 / 1);
  transition: all 0.3s ease;
}

.item-5:not(hover) .back-c{
  transform: translateY(0px);
  transition: all 0.3s ease;
}

.item-5:not(hover) .front-c{
  
  overflow: hidden;
  transition: all .3s ease;
}


/* My Project Section */


.item-6{
  width: 100%;
  height: 100%;
  background: transparent;
  order: 4;
  
}


.front-p{
  width: 100%;
  height: 100%;
  background-color: rgb(44,44,44);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 800;
  text-shadow: 3px 3px 3px black;
  color: #fff;
  letter-spacing: 4px;
  font-size: 35px;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 1);
  border: 1px solid rgb(55, 55, 55, 1);
  user-select: none;
}

.back-p{
  position: absolute;
  width: 97%;
  height: 97%;
  border-radius: 10px;
  background-color: rgb(44,44,44);
  inset: 0;
  left: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform-origin: center;
  /* transform: rotateZ(270deg); */
  visibility: hidden;
  opacity: 0;
  
}


@keyframes anim1 {
  0%{
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
  50%{
    opacity: 0.1;
    transform: translateX(-900px);

  }
  100%{
    opacity: 1;
    transform: translateX(0px);
    z-index: 1;
    visibility: visible;

  }
  
}

.item-6:hover .front-p{
  box-shadow: 3px 4px 1px 1px rgb(0 0 0 / 1);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.item-6:not(hover) .front-p{
  transform: translateY(0px);
  transition: all 0.3s ease;
}

.item-6:focus-within .back-p{
  /* opacity: 1;
  visibility:  visible;
  transition: all 1s ease ; */
  animation: anim1 0.8s ease forwards;
}


.accr-out{
  position: relative;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  top: 0px;
  gap: 20px;
  padding: 2em;
}

.accr{
  border-radius: 10px;
  height: 200px;
  flex: 1 0 10px;
  background-color: rgba(55, 55, 55, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 55;
  
}

.accr1{
  border-radius: 10px;
  height: 200px;
  flex: 1 0 10px;
  background-color: rgba(55, 55, 55, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 55;
  box-shadow: 0 0 10px rgb(0 0 0 / 1);
}


.accr1 h2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem;
  color: white;
}


.accr1::before{
  content: '';
  position: absolute;
  inset: 0;
  top: 162px;
  background-color: #0a003d;
  width: 100%;
  height: 25%;
  z-index: -1;
  visibility: hidden;
}


.accr1::after{
  content: ' ';
  background: url(car.svg);   
  position: absolute;
  inset: 0;
  background-size: 200px;
  background-repeat: no-repeat;
  top: 100px;
  z-index: 2;
  filter: invert();
  transform: translateX(-200px);
}

.accr1:hover{
  background: url(222\ \(1\).jpg);
  background-position-y: 0px;
  background-size: cover;
  background-position-y: -140px;
  background-repeat: no-repeat;
  transition: 1s;
  flex-grow: 6;
}

.accr1:hover h2{
  visibility: hidden;
}

.accr1:hover::before{
  visibility: visible;
}

.accr1:hover::after{
  transition: all 1s;
  transform: translateX(170px);
}


.accr2:hover{
  transition: 1s;
  flex-grow: 6;
}

.accr-out:hover .accr1 > h2{
  visibility: hidden;
}

.accr-out:hover .accr2 > h2{
  visibility: hidden;
}

.accr2{
  background-color: rgb(55, 55, 55, 1);
  margin: 0;
  padding: 0;
  position: relative;
  box-shadow: 0 0 10px rgb(0 0 0 / 1);
}

.web-s{
  width: 95%;
  height: 88%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
  color: white;
  gap: 0;
  text-align: center;
  background: rgb(44,44,44);
  visibility: hidden;
  border-radius: 10px;
  border: 1px solid black;


}

.web-s h3{
  margin: 0;
  margin-top: 12px;
  grid-column: 1 / -1;
  font-size: 1.4rem;
}

.web-s h3 #or{
  color: orange;
}

.web-s h3 #gr{
  color: green;
}

.web-s h4{
  margin: 0;
  margin-top: 5px;
  padding: 5px;
  height: 30px;
  width: 110px;
  background-color: lightskyblue;
  border-radius: 5px;
  color: black;
  justify-self: center;
  border: 1px solid;
}

.web-s h5{
  outline: 1px solid black;
  justify-self: center;
  margin: 0;
  margin-top: 5px;
  background-color: orangered;
  padding: 4px;
  height: 25px;
  width: 60px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
  color: b;
  
}

.web-s h4:nth-child(2){
  background-color: #00acee;
}

#text-p2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem;
  color: white;
  position: absolute;
}
.accr2:hover .web-s{
  visibility: visible;
}



.accr3{
  position: relative;
  border-radius: 10px;
  height: 200px;
  background-color: rgba(55, 55, 55, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0 10px rgb(0 0 0 / 1);
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}


.accr3 h2{
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem;
  color: white;
  transform: translateY(0);
  transition: transform 0.5s ease 0.3s;
 
}
.accr3:hover h2{
  transform: translateY(-200px);
  transition: transform 0.5s ease 0.3s;
}

.accr3:hover #ld-bttn{
  transform: translateX(0);
  
}

.accr3:hover #cd-bttn{
  transform: translateX(0);
}


.accr3 #ld-bttn{
  text-decoration: none;
  padding: 1rem;
  border: 2px solid #3c67e3;
  border-radius: 10px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  transform: translatex(-250px);
  transition: transform 0.3s ease 0.3s;
}

.accr3 #cd-bttn img{
  position: relative;
  top: 5px;
  margin: 0;
  filter: invert();
}

.accr3 #cd-bttn{
  text-decoration: none;
  padding: 0.8rem;
  padding-top: 0.7rem;
  border: 2px solid #9400FF;
  border-radius: 10px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  transform: translateX(250px);
  transition: transform 0.3s ease 0.3s;
 

}

#cd-bttn:hover{
  animation: pulsate2 1s ease-in-out;
  transition: all 0.3s ease 0.3s;
}

#ld-bttn:hover{
  animation: pulsate 1s ease-in-out;
  transition: all 0.3s ease 0.3s;
}



.accr4{
  border-radius: 10px;
  height: 200px;
  flex: 1 0 10px;
  background-color: rgba(55, 55, 55, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  position: relative;
  z-index: 55;
  box-shadow: 0 0 10px rgb(0 0 0 / 1);
}


.accr4 h2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem;
  color: white;
}



@keyframes pulsate {
  0%{
    box-shadow: 
    0 0 20px #5ddcff,
    0 0 50px #4e00c2;
  }
}

@keyframes pulsate2 {
  0%{
    box-shadow: 
    0 0 20px #A459D1,
    0 0 50px #5D3891;
  }
}


.back-p h1{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 letter-spacing: 2px;
 color: white;
 text-align: center;
 font-size: 1.5rem;
 padding: 1rem;
 padding-bottom: 0.5rem;
 margin: 0;
}



@keyframes container-animation{
    100%{
        translate: 0 -1em;
        transform: scale(1.0135);
    }
}

